/* Reset and body styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    border-radius:5px;
}
.formSection{
    padding:8px;
}

/* Navbar styles */
.navbar-light .nav-link {
    margin-left: 10px;
    color: white !important;
    border-radius:5px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-brand {
    font-size: 25px;
    font-weight: 600;
}
.navbar-light .nav-link {
    font-size:13px;
}
.main-row{
    border-radius:5px;
    min-height:100vh;
    display: flex;
    flex-wrap: nowrap;
}
/* Hover state for navbar links */
.navbar-light .nav-link:hover {
    background-color: rgb(235, 91, 0) !important;
}

/* Focus and active state for navbar links */
.navbar-light .nav-link:focus, .navbar-light .nav-link.active {
    background-color: rgb(235, 91, 0) !important;
    color: white !important;
}

/* Navbar container styling */
.nav-bar {
    flex-wrap: nowrap;
}
.topNavbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.sidebar {
    background-color: rgb(60, 61, 55);
    color: white;
    padding: 20px;
    position: static;
    max-width:240px;
    display: flex;
    flex-direction: column;
  }

  .sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 15px 5px;
  }

  .sidebar a:hover {
    text-decoration: underline;
  }

  .form-control {
    border-radius: 5px;
  }

  .btn-primary {
    background-color: #007bff;
    border: none;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }

  footer {
    text-align: center;
    margin-top: 20px;
    font-size:1em;
    color: white;
  }
  .navbar-brand {
    text-transform: uppercase;
  }

  @media (max-width: 480px) {
    .sidebar {
      height:auto;
      text-align: center;
      padding: 10px;
      margin:10px 5px;
    }

    .sidebar a {
      display: inline-block;
      margin: 10px 10px;
    }
  }
